.body {
    padding: 15px;
}
.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.form__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.form__body textarea {
    min-height: 150px;
    padding: 7px;
    font-size: 15px;
    resize: vertical;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.addBtn {
    background:blue;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    min-height: 40px;
    border-radius: 6px;
    cursor: pointer;
}